apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: {{cluster_name}}
  region: eu-west-2
  version: "1.16"
nodeGroups:
- name: {{cluster_name}}-ng-1-workers
  labels: {role: workers}
  instanceType: t2.micro
  desiredCapacity: 2
  volumeSize: 10
  ssh:
    allow: true

iam:
  withOIDCL: true
  serviceAccounts:
  - metadata:
    name: eks-load-balancer-controller
    namespace: kube-system
    labels: {aws-usage: "application"}
    attachPolicyARNs:
      - arn:aws:iam::{{ACCOUNT_ID}}:policy/AWSLoadBalancerControllerIAMPolicy


